* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    /*background-color: #999;*/
    height: 100%;
    font-family: 'industry', sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.hero {
    height: 100%;
    width: 100%;
    padding: 2em;
}

.hero__container {
    width: 100%;
    overflow: hidden;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    white-space: nowrap;
}

.hero__item {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
}

.hero__itemImage {
    display: block;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.hero__itemImage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-linear-gradient(270deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
    background-image: linear-gradient(-180deg, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
}

.hero__itemText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    z-index: 100;
}

.hero__itemText p {
    margin: 0;
    text-shadow: 0 1px 1px #000;
    font-size: 1.125em;
}

.hero__itemTitle {
    text-transform: uppercase;
    font-weight: 100;
    font-size: 3em;
    margin-bottom: 0;
    text-shadow: 0 1px 1px #000;
}

.sub-subnav {
    display: none;
    position: absolute;
    background: rgba(255,255,255,0.8);
    padding: 24px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
.has-subdropdown{position: relative;}

.has-subdropdown:hover .sub-subnav {
    display: block;
    /*margin-top: 10px;*/
}
.dropdown-menu{
    min-width: 106%;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}


.dropdown-menu>.dropdown-menuitem {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-menu:hover>.dropdown-menuitem {
    display: block;

}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.navbar-default{
    background: transparent;
    border: none;
    margin: 0;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-text{
    font-family: "FuturaBT-Heavy", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    padding: 10px 28px;
    display: inline-block;
    line-height: 14px;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover{
    color: #333;
}
